@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Sarabun', sans-serif;
}

@theme {
  --font-sans: 'Sarabun', sans-serif;
  --color-gov-blue: #1e3a8a;
  /* Royal Blue */
  --color-gov-brown: #5d4037;
  /* Official Document Brown */
  --color-gov-gold: #d4af37;
  /* Accent Gold */
}

body {
  @apply bg-slate-50 text-slate-900;
  color-scheme: light;
}